### Python Basics Outline

The following are going to be covered in this class:
* variables, datatypes and operators
* conditionals
* basic data structures (lists, dictionaries, tuples)
* Loops (for loops and while loops)
* functions
* Comprehensions and Lambda Functions

### Variables and Datatypes

In [7]:
# declare different variables with distinct datatypes
name = 'Kola'
age = 45
height = 49.60
married = True

# print each of the variables
print(f'{name} is of the type {type(name)}')
print(f'{age} is of the type {type(age)}')
print(f'{height} is of the type {type(height)}')
print(f'{married} is of the type {type(married)}')

Kola is of the type <class 'str'>
45 is of the type <class 'int'>
49.6 is of the type <class 'float'>
True is of the type <class 'bool'>

In [6]:
name = 'tola'
print(f'{name} said God is good')

tola said God is good

In [15]:
# write a program that computes age by accepting year of birth

year_birth = int(input('Enter your year of birth: ')) #type cast year_birth
current_year = 2024 # create current year variable
age = current_year - year_birth # compute age
print(f'You are {age} years old')

You are 122 years old

### Arithmetic Operators

| Operator       | sign    |
|----------------|---------|
| addition       | +       |
| subtraction    | -       |
| division       | /       |
| floor division | //      |
| modulus        | %       |
| multiplication | *       |
| power          | **      |
| root           | **(1/n) |

In [30]:
8 ** (1/3)

2.0

In [26]:
27 % 10

7

In [33]:
# write a program that converts naira to dollar

naira = float(input('Enter the naira value: '))
rate = 1400
dollar = naira/rate
print(f'{naira} naira is {round(dollar, 2)} dollars')

65000.0 naira is 46.43 dollars

### Conditionals

1. If 
2. elif
3. else

In [17]:
# write a program that checks if a person is an adult teenager or child

name = input('Enter your name: ')
year_birth = int(input('Enter your year of birth: '))
age_class = None
age = 2024 - year_birth
if age < 13:
    age_class = 'child'
elif age < 20:
    age_class = 'teenager'
else:
    age_class = 'adult'

print(f'Hi {name}, you are a/an {age_class} of {age} years')

Hi joy, you are a/an child of -211 years

In [24]:
# fizz buzz challenge
number = int(input('Enter the number: '))

if number % 5 == 0 and number % 3 == 0:
    print('FizzBUzz')
elif number % 5 == 0:
    print('Buzz')
elif number % 3 == 0:
    print('Fizz')

FizzBUzz

### Basic Data Structures

##  Lists

In [28]:
#  created a list of students
students = ['ayo', 'shola','bayo']
print(type(students))

<class 'dict'>

In [30]:
things = [1,3.5, True, students, name,['nokia','gpt']]
print(things)

[1, 3.5, True, {'ayo': 12, 'shola': 25, 'bayo': 22}, 'joy', ['nokia', 'gpt']]

In [50]:
# list referncing

fruits = ['orange','appple','cashew','grape','mango']
fruits[0]
fruits[-4]

# list slicing
print(fruits[3:])
fruits[:3]
fruits[1:3]
print(fruits[1:-1])

['grape', 'mango']
['appple', 'cashew', 'grape']

#### List functions and Methods

In [15]:
even = [2,4,6,8]
things = ['car','toy','age','orange']
# append method 
things.append('cup')

# sum function
sum(even)

# len function
len(things)

# sorted
some_nums = [4,6,7,23,1,8,2,18]

sorted(some_nums, reverse=False)

# .sort method
some_nums.sort(reverse=True)

# .index method
some_nums.index(18)

#.extend method
some_nums.extend(things)
some_nums

[23, 18, 8, 7, 6, 4, 2, 1, 'car', 'toy', 'age', 'orange', 'cup']

In [20]:
# tupe functions and methods

name = ('wale','segun','sola','tade')
even = tuple(even)

In [18]:
odd = (1,4,6,5,3,8)

len(odd)

6

In [35]:
# dictionaries 

nigeria = {'osun':'osogbo',
           'oyo':'ibadan',
           'lagos':'ikeja'}

# access the values 
nigeria['oyo']

# .keys method
nigeria.keys()

# .values
nigeria.values()

# .items
nigeria.items()

# .update
nigeria.update({'enugu':'enugu'})

In [36]:
nigeria

{'osun': 'osogbo', 'oyo': 'ibadan', 'lagos': 'ikeja', 'enugu': 'enugu'}

In [33]:
states = {
    'Lagos': ('ikeja','agege','vi')
}

In [34]:
states['Lagos']

('ikeja', 'agege', 'vi')

### FOR LOOPS

In [43]:
number_list = [1,2,3,4,5,6,7,8,9]
number_lis = []
for number in number_list:
    number_lis.append(number + 0.5)
    
number_lis

[1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 9.5]

In [48]:
# return a list of even numbers between 1 and 20

num_50 = list(range(1,21))
even_50 = []
for number in num_50:
    if number % 2 == 0:
        even_50.append(number)
    else:
        pass
even_50

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [52]:
### While Loop
even_30 = []
number = 1

while number <= 30:
    if number % 2 == 0:
        even_30.append(number)
        number += 1
    else:
      number += 1
even_30

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [56]:
# write a program that returns the lcm of two numbers 

first_num = int(input('Enter the first number: '))
second_num = int(input('Enter the second number: '))

if first_num > second_num:
    larger = first_num
else:
    larger = second_num

while True:
    if larger % first_num == 0 and larger % second_num == 0:
        lcm = larger
        break
    else:
        larger += 1

print(f'Lcm of {first_num} and {second_num} is {lcm} it ran for {end - start}')

Lcm of 4 and 1387 is 5548 it ran for 0.0029942989349365234

In [1]:
# write a simple program that checks the number of staff that came to work

staff_db = ['timi','abdul','ben','ada','tomi','joe','ife','john']
register = []
manager_password = 'good'

while True:
    name = input('Welcome to work, enter your name: ')
    if name != manager_password:
        if name in staff_db:
            register.append(name)
        else:
            print(f'You are a terrible person')
    else:
        break

print(f'The names in the register is: {register}')

Welcome to work, enter your name:  timi
Welcome to work, enter your name:  good

The names in the register is: ['timi']

### Functions

In [6]:
# write a function that greets someone

def greet(name, time_of_day):
    greetings = f'Hi {name}, good {time_of_day} how are you'
    return greetings

In [18]:
greet('tola', 'afternoon')

'Hi tola, good afternoon how are you'

In [58]:
# write a function that returns the prime numbers within a range of value 

# create a function to check if a number is prime or not
def check_prime(num):
    for number in range(2, num):
        if num % number == 0:
            return 'not prime'
    else:
        return 'prime'

# solve the real problem
def get_prime(lower, upper+1):
    primes = []
    for number in range(lower, upper):
        if check_prime(number) == 'prime':
            primes.append(number)
        else:
            pass
    return primes

In [60]:
get_prime(10, 17)

[11, 13]

In [52]:
check_prime(15)

'not prime'

In [80]:
name = 'daddy'
name[::-1]

'yddad'

In [96]:
# write a function that checks whether a word is a palindrome

def check_pal(word):
    if word[::-1] == word:
        return True
    else:
        return False

In [98]:
check_pal('ilorin')

False

In [171]:
# food seller function
menu = {
    'rice':[100,'portion'],
    'beans':[200,'portion'],
    'meat': [500,'pcs'],
    'chicken': [2000, 'pcs']
}

def get_bill(name):
    order = {}
    total_bill = 0
    output = f'Hi {name} welcome to Bodija restaurant'
    print(output)
    print('=======================================')
    for food, price in menu.items():
        print(f'{food}: {price[0]} per {price[1]}')
    print('=======================================')
    while True:
        item = input('Enter the food: ')
        if item != 'stop':
            if item not in menu.keys():
                print('Not available')
            else:
                quantity = int(input(f'How many {item} ?: '))
                order.update({item:quantity})
        else:
            break
    print('====================================')
    print(f'Your Order')
    for food, quantity in order.items():
        amount = quantity * menu[food][0]
        print(f'{food}: {quantity} X {menu[food][0]} is {amount}')
        total_bill += amount
    print(f'Your total bill is {total_bill}')

In [173]:
get_bill(name='wale')

Hi wale welcome to Bodija restaurant
=======================================
rice: 100 per portion
beans: 200 per portion
meat: 500 per pcs
chicken: 2000 per pcs
=======================================

Enter the food:  rice
How many rice ?:  2
Enter the food:  beans
How many beans ?:  4
Enter the food:  chicken
How many chicken ?:  1
Enter the food:  stop

====================================
Your Order
rice: 2 X 100 is 200
beans: 4 X 200 is 800
chicken: 1 X 2000 is 2000
Your total bill is 3000

### assignment 

write the following python functions and explain in depth the thought process
1. function that returns the number of letters in a word
2. function that takes first and last name and returns fullname
3. function that calculates the interest on a loan with rate = 4%
4. function that returns the area of a rectangle
5. function that checks whether someone is due for retirement or not (age_ret = 65)